:root {
  --bg: #fff;
  --text: #000;
  --text-muted: #666;
  --text-dimmed: #999;
  --bg-code: #f5f5f5;
  --border: #eee;
}

.dark {
  --bg: #111;
  --text: #e5e5e5;
  --text-muted: #aaa;
  --text-dimmed: #666;
  --bg-code: #1a1a1a;
  --border: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
}

a {
  color: inherit;
  text-decoration-color: var(--text-dimmed);
  text-underline-offset: 3px;
}

a.card {
  text-decoration: none;
  color: var(--text-dimmed);
}

a.card span {
  color: var(--text-muted);
  text-decoration: underline;
  text-decoration-color: var(--text-dimmed);
  text-underline-offset: 3px;
}

.site-logo {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

nav.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--text-dimmed);
}

nav.breadcrumb a {
  text-decoration: none;
}

.site-logo-light {
  display: none;
}

.site-logo-dark {
  display: inline-block;
}

.dark .site-logo-light {
  display: inline-block;
}

.dark .site-logo-dark {
  display: none;
}
